---
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';

const { title = 'AdlerPrice' } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <slot name="head" />
  <title>{title}</title>
  </head>
  <body>
    <a class="sr-only" href="#main">Skip to content</a>

    <main id="main" class="min-h-screen flex flex-col">
      <Nav />
      <section class="flex-grow">
        <slot />
      </section>
      <Footer />
    </main>
  </body>
</html>